In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/kaggle/input/crossfit-games-athletes/df_2023_games_athletes_information.csv')

In [ ]:
df.head()

In [ ]:
#Printing boolean fo potentially duplicated entries
print(df.duplicated())

In [ ]:
#Printing the sum of potentially duplicated entries. There is no duplicates for this dataset. 
print(df.duplicated().sum())

In [ ]:
#If there were duplicates I would use this code to remove the identified duplicated entries based on all parameters
df = df.drop_duplicates()
print(df)

In [ ]:
#Checking the dataframe columns
df.columns

In [ ]:
#Checking which columns I would want to keep and remove.
df.head(5)

In [ ]:
#overallRank and overallScore have no values and are not important at this point so I will remove those columns.
df.drop(['overallRank', 'overallScore'], axis=1)

In [ ]:
#Overwriting the previous dataframe
df = df.drop(['overallRank', 'overallScore'], axis=1)

In [ ]:
#Checking the overwrite was successful
df.head(5)

In [ ]:
#Checking for any null values within the dataset.
print(df.isnull())

In [ ]:
#At first it looks like there is no null values but I will make sure by summating the nulls
print(df.isnull().sum())

In [ ]:
#Since some athletes may not compete under an affilaite I can fill in the null values for affiliateId and affiliateName with none. 
df['affiliateId'] = df['affiliateId'].fillna('None')
df['affiliateName'] = df['affiliateName'].fillna('None')
print(df)

In [ ]:
#I will again check the summation of null values to see if some have disappeared due to to the above code
print(df.isnull().sum())

In [ ]:
#There is one entry that has a null value for countryOfOriginName. I will find that entry.
df[df['countryOfOriginName'].isna()]

In [ ]:
#Since it is only one (and I could have caught this in excel before coming to pandas), I will simply look up this athlete and impute their country of origin.
df['countryOfOriginName'] = df['countryOfOriginName'].fillna('Russia')

In [ ]:
#Again I will check if null values exist.
print(df.isnull().sum())

In [ ]:
#now I am going to check dtypes
df.dtypes

In [ ]:
#I see height and weight are objects and go to the excel file to check this out. They are objects because they include a number and string but I notice that the heights and weights are not uniform in terms of inches/centimeters and pounds/kilograms so I want to fix this.